
.comments-container {
  width: 100%;
  max-width: 600px
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #232323;
        color: #eaeae9;
    }
    pre,code {
        background-color: #131313;
    }
    a {
        color: #64b5f6;
    }
    a:hover, a:active {
        color: #005bbb;
    }
    img {
      opacity: .75;
      transition: opacity .5s ease-in-out;
    }
    img:hover {
      opacity: 1;
    }
}